%p#notice= notice
.post_box_index
  .title
    = @post.title
    .post_updated_at
      = "Updated at:"
      = @post.updated_at.strftime("%d:%m:%Y")
  %br
  .content
    = @post.content
- if user_signed_in?
  #edit_back_link
    = link_to 'Edit', edit_post_path(@post)
    \|
    = link_to 'Back', posts_path
